<!DOCTYPE html>
<html>

<head>
    <title>Payment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/stylesheets/Pay.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel = "icon" href ="/images/logo1circle.png" type = "image/x-icon"> 
    <script>
        function getData(){
            $("#basic-form").submit();
            $("#payBtn").attr("disabled", true);
        }

        $(document).ready(function(){
            $("#payBtn").attr("disabled", false);    
        })
    </script>
</head>

<body>
<header class="HomePageMain">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="headerName" id="paraiso">
            PARAISO HOTEL
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
            <ul class="navbar-nav text-right">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotel/rooms">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotel/amenities">Amenities</a>
                </li>
                {{{logging}}}
            </ul>
        </div>
    </nav>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Log Out</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to log out?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <a href='/logout'>Yes</a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br>
    <div class="container section-2" id="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-container payment-container">
                    <form action="/totalCharge/billingDetails/{{bookingid}}" id="basic-form" method="POST">
                        <h1>PAYMENT</h1>
                        <span class="error-label mr-auto" id="owner-error">
                                {{{databaseError}}}
                            </span>
                        <div class="form-group owner">
                            <label for="owner">Owner</label>
                            <input type="text" class="form-control" id="owner" name="owner" value="{{data.owner}}">
                            <span class="error-label mr-auto" id="cardNum-error">
                                {{cardOwnerError}}
                            </span>
                        </div>
                        <div class="form-group CVV">
                            <label for="cvv">CVV</label>
                            <input type="number" max="999" pattern="([0-9]|[0-9]|[0-9])" class="form-control" id="cvv" name="cvv" value="{{data.cvv}}">
                            <span class="error-label mr-auto">
                                {{cardError}}
                            </span>
                        </div>
                        <div class="form-group" id="card-number-field">
                            <label for="cardNumber">Card Number</label>
                            <input type="number" pattern="[0-9]{13,16}" id="credit-number" name="cardNumber" value="{{data.cardNumber}}">
                            <span class="error-label mr-auto" id="cardNum-error">
                                {{cardNumError}}
                            </span>
                        </div>
                        <div class="form-group" id="expiration-date">
                            <label>Expiration Date</label>
                            <select name="month">
                                <option value="01">January</option>
                                <option value="02">February </option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <select name="year">
                                <option value="20"> 2020</option>
                                <option value="21"> 2021</option>
                                <option value="22"> 2022</option>
                                <option value="23"> 2023</option>
                                <option value="24"> 2024</option>
                                <option value="25"> 2025</option>
                            </select><br>
                        </div>
                        <div class="form-group" id="credit_cards">
                            <div class="paymentWrap">
                                <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                                    <label class="btn paymentMethod">
                                        <div class="method visa"></div>
                                        <input type="radio" value="visa" name="ccprovider" checked>
                                    </label>
                                    <label class="btn paymentMethod active">
                                        <div class="method master-card"></div>
                                        <input type="radio" value="masterCard" name="ccprovider">
                                    </label>
                                    <label class="btn paymentMethod">
                                        <div class="method discover"></div>
                                        <input type="radio" value="discover" name="ccprovider">
                                    </label>
                                    <label class="btn paymentMethod">
                                        <div class="method american"></div>
                                        <input type="radio" value="american" name="ccprovider">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="footerNavWrap clearfix">
                            <a href="/totalCharge/delete/{{bookingid}}" class="btn btn-lg pull-left"><i class="fas fa-arrow-circle-left"></i> Back</a>
                            <button class="btn btn-lg pull-right" onclick=getData() id="payBtn">Pay <i class="fas fa-arrow-circle-right"></i></button>
                        </div>
                    </form>
                    <br><br>
                </div>
                
            </div>
        </div>
    </div>
</header>
<div class="border"></div>
{{> (lookup . 'whichfooter') }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/javascripts/Home.js"></script>
</body>

</html>