<!DOCTYPE html>
<html>

<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/SignIn.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">
    <link rel = "icon" href ="/images/logo1circle.png" type = "image/x-icon"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
</head>

<body>
<header class="HomePageMain">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="headerName" id="paraiso">
            PARAISO HOTEL
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
            <ul class="navbar-nav text-right">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotel/rooms">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotel/amenities">Amenities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signUp">Be a Member</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/signIn">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bookBtn" href="/" tabindex="-1" aria-disabled="true">BOOK NOW</a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br><br><br><br><br>
    <div class="container" id="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-container sign-in-container">
                    <form action="/signIn" id="basic-form" method="POST">
                        <h1 class="mb-3">Sign In</h1>
                        <br><br>
                        <span class="error-label mr-auto">
                            {{{generalError}}}
                        </span>
                        <div class="form-row">
                        <input type="email" class="px-n3" id="email" placeholder="Email" name="email" value="{{email}}">
                        <span class="error-label mr-auto">
                            {{emailError}}
                        </span>
                        </div>
                        <div class="form-row">
                        <input type="password" id="password" placeHolder="Password" name="password" value="{{password}}">
                        <span class="error-label mr-auto">
                            {{passwordError}}
                        </span>
                        </div>
                        <div class="form-row pt-2 pb-1 justify-content-center">
                            <div class="col-1">
                                <input type="checkbox" onclick="myFunction()" style="text-align: left;"/>
                            </div>
                            <div class="col-10" style="text-align: left;">
                                Show Password
                            </div>
                        </div>
                        <div class="form-row justify-content-center pt-2">
                        <input type="submit" value="Sign In" id="signIn" class="text-center">
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

{{> (lookup . 'whichfooter') }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascripts/SignIn.js"></script>

</body>

</html>