<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/viewAvailRooms.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel = "icon" href ="/images/logo1circle.png" type = "image/x-icon"> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        function selectChange(val){
            $('#myForm').submit();
        }

        function getSubmitFD(){
            var forms = $("#hidden-formFD").submit();
        }

        function getSubmitCD(){
            var forms = $("#hidden-formCD").submit();
        }

        function getSubmitED(){
            var forms = $("#hidden-formED").submit();
        }

        function getSubmitJS(){
            var forms = $("#hidden-formJS").submit();
        }
        
        function getSubmitES(){
            var forms = $("#hidden-formES").submit();
        }

        function getSubmitGS(){
            var forms = $("#hidden-formGS").submit();
        }

        function setDetails(){
                var checkIn = $("#checkIn").val();
                var checkOut = $("#checkOut").val();
                var rooms = $("#room").val();
                var adults = $("#adults").val();
                var kids = $("#kids").val();

                var elementcheckin = $(".hiddencheckin");

                var elementcheckout = $(".hiddencheckout");

                var elementrooms = $(".hiddenrooms");

                var elementadults = $(".hiddenadults");
                
                var elementkids = $(".hiddenkids");

                elementcheckin.attr("value",checkIn);
                elementcheckout.attr("value",checkOut);
                elementrooms.attr("value",rooms);
                elementadults.attr("value",adults);
                elementkids.attr("value",kids);
            }

        function displayDate(){
            var cidate = new Date($('#checkIn').val());
            var codate = new Date($('#checkOut').val());
            var months = [ "January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"];
            var days = [ "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday",
                "Saturday"];

            var cimonth = months[cidate.getMonth()];
            var ciyear = cidate.getFullYear();
            var ciday = cidate.getDate();
            var cidayweek = days[cidate.getUTCDay()];

            var comonth = months[codate.getMonth()];
            var coyear = codate.getFullYear();
            var coday = codate.getDate();
            var codayweek = days[codate.getUTCDay()];

            if (ciday < 10){
                ciday = "0" + ciday;
            }
            if (coday < 10){
                coday = "0" + coday;
            }

            var string = "ARRIVE: " + cidayweek.toLocaleUpperCase() + ", " + cimonth.toUpperCase() + " " +
                ciday + ", " + ciyear + " | DEPART: " + codayweek.toLocaleUpperCase() + ", " + comonth.toUpperCase() + " " +
                coday + ", " + coyear;

            $("#details #dates").text(string);
        }

        $(document).ready(function(){
            $("#booknowbtn").click(function(){
                displayDate();
                
            });

            displayDate();
            setDetails();
        });

    </script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <header class="HomePageMain">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="headerName" id="paraiso">
                PARAISO HOTEL
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
                <ul class="navbar-nav text-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hotel/rooms">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hotel/amenities">Amenities</a>
                    </li>
                    {{{logging}}}
                </ul>
            </div>
        </nav>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm Log Out</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure to log out?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <a href='/logout'>Yes</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row book">
                <div class = "container py-3 style">
                    <form id ="Book" action="/viewRooms" method="POST">
                        <div class = "title">Discover a hotel that defines a new dimension of luxury.</div>
                        <div class="form-row mt-4">
                            <div class="form-group col-md-2 col-12">
                                <input type="text" style="font-size:12px;" class="form-control form-control-sm" placeholder="Check in" onfocus="(this.type='date')" onblur="(this.type='text')" id="checkIn" name="checkIn" value="{{data.checkIn}}" required>
                            </div>
                            <div class="form-group col-md-2 col-12">
                                <input type="text" style="font-size:12px;" class="form-control form-control-sm" placeholder="Check out" onfocus="(this.type='date')" onblur="(this.type='text')" id="checkOut" name="checkOut" value="{{data.checkOut}}" required>
                            </div>
                            <div class="form-group col-md-2 col-12">
                                <input type="number" style="font-size:12px;" class="form-control form-control-sm" placeholder="No. of Rooms" id="room" min="0" name="nRooms" value="{{data.nRooms}}" required>
                            </div>
                            <div class="form-group col-md-2 col-12">
                                <input type="number" style="font-size:12px;" class="form-control form-control-sm" placeholder="Adults" id="adult" min="0" name="nAdults" value="{{data.nAdults}}" required>
                            </div>
                            <div class="form-group col-md-2 col-12">
                                <input type="number" style="font-size:12px;" class="form-control form-control-sm" placeholder="Kids" id="kid" min="0" name="nKids" value="{{data.nKids}}" required>
                            </div>
                            <div class="form-group col-md-2 col-12">
                                <input type="submit" class="btn btn-sm btn-outline-dark ml-md-2 ml-0 col-12 col-md-10" id="booknowbtn" value="Book Now">
                            </div>
                        </div>
                        <p id="error" style ="color:red; text-align: center; font-weight:900; text-shadow: 1px 1px black;"></p>
                    </form>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="container Date">
    <div class="row pt-3">
        <div class="col-md-2 col-0"></div>
        <div class="col-md-8 col-12">
            <div id="details"><span style="font-weight: 1000">PARAISO HOTEL</span><br><span id="dates">ARRIVE: MONDAY, {{data.checkIn}} | DEPART: SUNDAY, {{data.checkOut}}</span></div>
        </div>
        <div class="col-md-2 col-0"></div>
    </div>
</div>
<div class="container view mt-4 filter">
    <div class="row py-2">
        <div class="col-md-1 col-12">
            {{!-- <div class="col-12 margin-top">Filter:</div> --}}
        </div>
        <div class="col-md-2 col-12 mt-1">
            {{!-- <form id="myForm" action="">
                <select onChange=selectChange(this.value)>
                    <option value="-1">Select</option>
                    <option value="CD">Classic Deluxe</option>
                    <option value="FD">Family Deluxe</option>
                    <option value="ED">Executive Deluxe</option>
                    <option value="JS">Junior Suite</option>
                    <option value="ES">Executive Suite</option>
                    <option value="GS">Grand Suite</option>
                </select> --}}
            </form>
        </div>
    </div>
</div>
<div class="container mt-3 list">
    <div class="row label mb-3 py-2">
        <div class="col-md-4">Room Type</div>
        <div class="col-md-4">Description</div>
        <div class="col-md-2">Average per night</div>
        <div class="col-md-2"></div>
    </div>
    <div id="rooms">

    </div>
    <script type="text/javascript">
        function addClassicDeluxe(){
            $("#rooms").append('\
            <div class="row boxshadow mb-4">\
                <div class="col-md-4 col-12 roomtype">\
                    <img class="img-fluid" src ="/images/Rooms/ClassicDeluxe.jpg">\
                </div>\
                <div class="col-md-4 col-12 align-self-center ml-md-n2 ml-0">\
                    <div class="title col-md-10 col-12">Classic Deluxe</div><br>\
                    <p class="col-md-10 col-12">A minimalistic room to relax in after a day in the sun. A 30 square meters room that can sleep up to 3 guests.</p>\
                    <p class="col-md-10 col-12">Beds: 2 Single or 1 Queen</p>\
                </div>\
                <div class="col-md-2 col-12 align-self-center ml-md-n3 ml-0">\
                    <div class="price">PHP 7,999.99</div>\
                </div>\
                <div class="col-md-2 col-12 align-self-center py-3 py-md-0 text-center">\
                    <form method="POST" id="hidden-formCD" action="/totalCharge">\
                        <input type="hidden" name="checkInDate" value="{{data.checkIn}}" class="hiddencheckin">\
                        <input type="hidden" name="checkOutDate" value="{{data.checkOut}}" class="hiddencheckout">\
                        <input type="hidden" name="rooms" value="{{data.nRooms}}" class="hiddenrooms">\
                        <input type="hidden" name="adults" value="{{data.nAdults}}" class="hiddenadults">\
                        <input type="hidden" name="kids" value="{{data.nKids}}" class="hiddenkids">\
                        <input type="hidden" name="roomtype" value="Classic Deluxe">\
                        <input type="hidden" name="pricePerRoom" value="7999.99">\
                        <button class="btn" onclick="getSubmitCD()" type="submit">Book Now</button>\
                    </form>\
                </div>\
            </div>')
        }

        function addFamilyDeluxe(){
            $("#rooms").append('\
            <div class="row boxshadow mb-4">\
                <div class="col-md-4 col-12 roomtype">\
                    <img class="img-fluid" src ="/images/Rooms/FamilyDeluxe.jpg">\
                </div>\
                <div class="col-md-4 col-12 align-self-center ml-md-n2 ml-0">\
                    <div class="title col-md-10 col-12">Family Deluxe</div><br>\
                    <p class="col-md-10 col-12">Enjoy the sun with your family and stay in our luxurious 37 square meters room that can sleep up to 4 guests. Beds: 2 Twin or 1 King</p>\
                    <p class="col-md-10 col-12">Beds: 2 Twin or 1 King</p>\
                </div>\
                <div class="col-md-2 col-12 align-self-center ml-md-n3 ml-0">\
                    <div class="price">PHP 8,499.99</div>\
                </div>\
                <div class="col-md-2 col-12 align-self-center py-3 py-md-0 text-center">\
                     <form method="POST" id="hidden-formFD" action="/totalCharge">\
                        <input type="hidden" name="checkInDate" value="{{data.checkIn}}" class="hiddencheckin">\
                        <input type="hidden" name="checkOutDate" value="{{data.checkOut}}" class="hiddencheckout">\
                        <input type="hidden" name="rooms" value="{{data.nRooms}}" class="hiddenrooms">\
                        <input type="hidden" name="adults" value="{{data.nAdults}}" class="hiddenadults">\
                        <input type="hidden" name="kids" value="{{data.nKids}}" class="hiddenkids">\
                        <input type="hidden" name="roomtype" value="Family Deluxe">\
                        <input type="hidden" name="pricePerRoom" value="8499.99">\
                        <button class="btn" onclick="getSubmitFD()" type="submit">Book Now</button>\
                    </form>\
                </div>\
            </div>')
        }

        function addExecutiveDeluxe(){
            $("#rooms").append('\
            <div class="row boxshadow mb-4">\
                <div class="col-md-4 col-12 roomtype">\
                    <img class="img-fluid" src ="/images/Rooms/ExecutiveDeluxe.jpg">\
                </div>\
                <div class="col-md-4 col-12 align-self-center ml-md-n2 ml-0">\
                    <div class="title col-md-10 col-12">Executive Deluxe</div><br>\
                    <p class="col-md-10 col-12">Relax after a serious day of fun with our 43 square meters room that can sleep up to 4 guests.</p>\
                    <p class="col-md-10 col-12">Beds: 2 Twin or 1 King</p>\
                </div>\
                <div class="col-md-2 col-12 align-self-center ml-md-n3 ml-0">\
                    <div class="price">PHP 8,999.99</div>\
                </div>\
                <div class="col-md-2 col-12 align-self-center py-3 py-md-0 text-center">\
                     <form method="POST" id="hidden-formED" action="/totalCharge">\
                        <input type="hidden" name="checkInDate" value="{{data.checkIn}}" class="hiddencheckin">\
                        <input type="hidden" name="checkOutDate" value="{{data.checkOut}}" class="hiddencheckout">\
                        <input type="hidden" name="rooms" value="{{data.nRooms}}" class="hiddenrooms">\
                        <input type="hidden" name="adults" value="{{data.nAdults}}" class="hiddenadults">\
                        <input type="hidden" name="kids" value="{{data.nKids}}" class="hiddenkids">\
                        <input type="hidden" name="roomtype" value="Executive Deluxe">\
                        <input type="hidden" name="pricePerRoom" value="8999.99">\
                        <button class="btn" onclick="getSubmitED()" type="submit">Book Now</button>\
                    </form>\
                </div>\
            </div>')
        }

        function addJuniorSuite(){
            $("#rooms").append('\
            <div class="row boxshadow mb-4">\
                <div class="col-md-4 col-12 roomtype">\
                    <img class="img-fluid" src ="/images/Rooms/JuniorSuite.jpg">\
                </div>\
                <div class="col-md-4 col-12 align-self-center ml-md-n2 ml-0">\
                    <div class="title col-md-10 col-12">Junior Suite</div><br>\
                    <p class="col-md-10 col-12">A rustic sea side accomodation that has breathtaking views. A 45 square meters room that can accomodate up to 4 guests.</p>\
                    <p class="col-md-10 col-12">Beds: 2 Twin or 1 King</p>\
                </div>\
                <div class="col-md-2 col-12 align-self-center ml-md-n3 ml-0">\
                    <div class="price">PHP 9,499.99</div>\
                </div>\
                <div class="col-md-2 col-12 align-self-center py-3 py-md-0 text-center">\
                     <form method="POST" id="hidden-formJS" action="/totalCharge">\
                        <input type="hidden" name="checkInDate" value="{{data.checkIn}}" class="hiddencheckin">\
                        <input type="hidden" name="checkOutDate" value="{{data.checkOut}}" class="hiddencheckout">\
                        <input type="hidden" name="rooms" value="{{data.nRooms}}" class="hiddenrooms">\
                        <input type="hidden" name="adults" value="{{data.nAdults}}" class="hiddenadults">\
                        <input type="hidden" name="kids" value="{{data.nKids}}" class="hiddenkids">\
                        <input type="hidden" name="roomtype" value="Junior Suite">\
                         <input type="hidden" name="pricePerRoom" value="9499.99">\
                        <button class="btn" onclick="getSubmitJS()" type="submit">Book Now</button>\
                    </form>\
                </div>\
            </div>')
        }

        function addExecutiveSuite(){
            $("#rooms").append('\
            <div class="row boxshadow mb-4">\
                <div class="col-md-4 col-12 roomtype">\
                    <img class="img-fluid" src ="/images/Rooms/ExecutiveSuite.jpg">\
                </div>\
                <div class="col-md-4 col-12 align-self-center ml-md-n2 ml-0">\
                    <div class="title col-md-10 col-12">Executive Suite</div><br>\
                    <p class="col-md-10 col-12">A 50 square meters seaside room with a classic design. 4 guests can be accomodated.</p>\
                    <p class="col-md-10 col-12">Beds: 2 Twin or 1 King</p>\
                </div>\
                <div class="col-md-2 col-12 align-self-center ml-md-n3 ml-0">\
                    <div class="price">PHP 9,999.99</div>\
                </div>\
                <div class="col-md-2 col-12 align-self-center py-3 py-md-0 text-center">\
                     <form method="POST" id="hidden-formES" action="/totalCharge">\
                        <input type="hidden" name="checkInDate" value="{{data.checkIn}}" class="hiddencheckin">\
                        <input type="hidden" name="checkOutDate" value="{{data.checkOut}}" class="hiddencheckout">\
                        <input type="hidden" name="rooms" value="{{data.nRooms}}" class="hiddenrooms">\
                        <input type="hidden" name="adults" value="{{data.nAdults}}" class="hiddenadults">\
                        <input type="hidden" name="kids" value="{{data.nKids}}" class="hiddenkids">\
                        <input type="hidden" name="roomtype" value="Executive Suite">\
                         <input type="hidden" name="pricePerRoom" value="9999.99">\
                        <button class="btn" onclick="getSubmitES()" type="submit">Book Now</button>\
                    </form>\
                </div>\
            </div>')
        }

        function addGrandSuite(){
            $('#rooms').append('\
                <div class="row boxshadow mb-4">\
                    <div class="col-md-4 col-12 roomtype">\
                        <img class="img-fluid" src ="/images/Rooms/GrandSuite.jpg">\
                    </div>\
                    <div class="col-md-4 col-12 align-self-center ml-md-n2 ml-0">\
                        <div class="title col-md-10 col-12">Grand Suite</div><br>\
                        <p class="col-md-10 col-12">Our most luxurious room with perfect views. A 57 square meter room that can accomodate up to 6 guests.</p>\
                        <p class="col-md-10 col-12">Beds: 2 Queen or 1 King 1 Single</p>\
                    </div>\
                    <div class="col-md-2 col-12 align-self-center ml-md-n3 ml-0">\
                        <div class="price">PHP 11,999.99</div>\
                    </div>\
                    <div class="col-md-2 col-12 align-self-center py-3 py-md-0 text-center">\
                        <form method="POST" id="hidden-formGS" action="/totalCharge">\
                            <input type="hidden" name="checkInDate" value="{{data.checkIn}}" class="hiddencheckin">\
                            <input type="hidden" name="checkOutDate" value="{{data.checkOut}}" class="hiddencheckout">\
                            <input type="hidden" name="rooms" value="{{data.nRooms}}" class="hiddenrooms">\
                            <input type="hidden" name="adults" value="{{data.nAdults}}" class="hiddenadults">\
                            <input type="hidden" name="kids" value="{{data.nKids}}" class="hiddenkids">\
                            <input type="hidden" name="roomtype" value="Grand Suite">\
                            <input type="hidden" name="pricePerRoom" value="11999.99">\
                            <button class="btn" onclick="getSubmitGS()" type="submit">Book Now</button>\
                        </form>\
                    </div>\
                </div>')
        }
        {{#if cd}}
            addClassicDeluxe();
        {{/if}}
        {{#if fd}}
            addFamilyDeluxe();
        {{/if}}
        {{#if ed}}
            addExecutiveDeluxe();
        {{/if}}
        {{#if js}}
            addJuniorSuite();
        {{/if}}
        {{#if es}}
            addExecutiveSuite();
        {{/if}}
        {{#if gs}}
            addGrandSuite();
        {{/if}}
    </script>
</div>
<div style="text-align: center;">
    <p style="color:red">{{message}}</p>
</div>
{{> (lookup . 'whichfooter') }}
<!-- Footer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/javascripts/Home.js"></script>

<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function () {
     $('#Book').on("change","#checkIn",function() {
          var checkin= $('#checkIn').val()
          var checkout = $('#checkOut').val()
          $.get('/checkInDate', {checkin: checkin, checkout:checkout}, function (result) {
              // true  == valid
              if(result == checkin){
                 $("#error").text("")
                  $("#booknowbtn").prop('disabled', false)
              }
              else{
                $("#error").text("Invalid Check-In Date Entered!")
                 $("#booknowbtn").prop('disabled', true)
              }
          });
      });
      $('#Book').on("change","#checkOut",function() {
          var checkin= $('#checkIn').val()
          var checkout = $('#checkOut').val()
          $.get('/checkOutDate', {checkin: checkin, checkout:checkout}, function (result) {
              // true  == valid
              if(result == checkin){
                 $("#error").text("")
                  $("#booknowbtn").prop('disabled', false)
              }
              else{
                $("#error").text("Invalid Check-Out Date Entered!")
                $("#booknowbtn").prop('disabled', true)
              }
          });
      });
  })
</script>
</body>
</html>